<footer class="footer">

  {% if site.author.github %}
    <a class="footer item" href="https://github.com/{{ site.author.github }}">
        <i class="fab fa-github"></i>
	گیت‌هاب
    </a>
  {% endif %}

  <a class="footer item" href="/feed.xml">
    <i class="fa fa-rss"></i>
خوراک
</a>
      
  {% if site.author.email %}
    <a class="footer item" href="mailto:{{ site.author.email }}">
	<i class="fa fa-envelope-open"></i>
	تماس
    </a>
  {% endif %}

  <small class="footer_copyright">
    {% include license.html %}
  </small>
</footer>
    

{% include javascripts.html %}
